.App {
  text-align: center;
}

.navbar {
  background-color: rgb(0, 68, 65);
  .navbar-brand {
    color: rgb(211, 171, 61) !important; 
  }
  a {
    color: rgb(211, 171, 61) !important;
    text-decoration: none;
  }
  .dropdown-menu {
    background-color: rgb(0, 68, 65); 
    border-style: outset;
    border-color: rgb(211, 171, 61);
    border-width: 5px 3px ;
  }
  .navbar-toggler {
    border-color: rgb(211, 171, 61)
    }
  }

.carousel {
  img {
    width: 100%;
  }
}

.welcome-row {
  .welcome-card {
    width: 50%;
    img {
      width: 100%;
    }
  }
  video {
    width: 50%
  } 
}

.footer {
  justify-content:space-around
  // text-align: center;
}

// .menu {
//   margin: none !important;
//   width: 400px;
//   .card {
//     // height: 300px;
//   }
// }