.App {
  text-align: center;
}

.navbar {
  background-color: rgb(0, 68, 65);
  .navbar-brand {
    color: rgb(211, 171, 61) !important;
  }
  a {
    color: rgb(211, 171, 61) !important;
    text-decoration: none;
    .shopping-cart {
      height: 25px;
      color: rgb(211, 171, 61) !important;
    }
  }
  .dropdown-menu {
    background-color: rgb(0, 68, 65);
    border-style: outset;
    border-color: rgb(211, 171, 61);
    border-width: 5px 3px;
  }
  .navbar-toggler {
    border-color: rgb(211, 171, 61);
  }
}

.carousel {
  // position: relative;
  // top: 0;
  // left: 0;
  img {
    display: block;
    // position: relative;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    height: 70vh;
    // width: 100vh;
    &.background  {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      opacity: 40%;
      filter: blur(4px);
    }
  }
}

.welcome-row {
  .welcome-card {
    width: 50%;
    .card-img-overlay {
      color: rgb(4, 255, 255);
      background: repeating-linear-gradient(
        45deg,
        #9df886,
        #7a9c73 40px,
        rgb(0,68,45) 40px,
        rgb(0, 68, 45) 80px,
      );
    }
    img {
      width: 100%;
    }
  }
  video {
    width: 50%;
    // height: 20%;
  }
}

.row {
  --bs-gutter-x: 0rem;
}

.footer {
  justify-content: space-around;
}

.menu {
  padding: 0px !important;
  .row {
    padding: 0px !important;
    .col {
      // padding: 0px !important;
      padding-bottom: 100px;
      .menu-card {
        padding: 0px !important;
        img {
          // height: 24rem;
        }
        .cart-button {
          width: 100%;
        }
        .card-body {
          height: 150px;
          p {
            
          }
        }
      }
    }
  }
}

.accordion-button {
  background-color: rgb(13, 73, 70);
  color: rgb(211, 171, 61);
}

.storeForm {
  .popsicles {
    width: 300px;
  }
}
